<main class="form-signin w-100 m-auto">
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <img class="mb-4" src="assets/chat.png" alt="Chat Icon" width="72" height="57">

    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating mb-2">
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        [(ngModel)]="loginData.email"
        placeholder="name@example.com"
        required
      />
      <label for="email">Email address</label>
    </div>

    <div class="form-floating mb-2">
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        [(ngModel)]="loginData.password"
        placeholder="Password"
        required
      />
      <label for="password">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input
          type="checkbox"
          name="rememberMe"
        />
        Remember me
      </label>
    </div>

    <button
      class="w-100 btn btn-lg btn-primary"
      type="submit"
      [disabled]="!loginForm.form.valid"
    >
      Sign in
    </button>

    <p class="mt-5 mb-3 text-muted">&copy; QuickChat.com all right reserved.</p>
  </form>
</main>
